body {
  background-color: #f3aab5;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.weatherapp {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.search-form-input {
background-color: #f9cfd0;
border: none;
border-radius: 6px;
font-size: 16px;
padding: 15px 20px;
width: 80%;
}

.search-form-button{
  background-color: #f3aab5;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
} 